<% content_for :nav_links do %>
    <div class="nav-collapse">
      <ul class="nav pull-right">
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#help">Help</a></li>
				<li class='active'><%= link_to 'Admin', users_path %></li>
      </ul>
    </div>
<% end %>

<h1>Listing users</h1>

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Referred by</th>
		<th>Current Earnings</th>
		<th>Network</th>
		<th></th>

  </tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td>
			<% if not user.parent.nil? %>
				<%= link_to user.parent.name, user.parent %>
			<% end %>
			</td>
			<td>$ <%= user.current_earnings %>.00</td>
			<td> <%= user.first_generation.size + user.second_generation.size %></th>
		  <td><%= link_to ('<i class="icon-search"></i>').html_safe , user %></td>
		</tr>
	<% end %>

</table>
	<%= paginate @users %>


<br />
